@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Geist", sans-serif;
}

.notch {
  clip-path: inset(0px 0px 0px round 0px 0px 12px 12px);
  position: relative;
  overflow: visible;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and old Edge */
* {
  -ms-overflow-style: none;
}

.icon-class {
  @apply cursor-pointer text-black/50 dark:text-white/50 hover:text-black dark:hover:text-white hover:scale-110 transition-all duration-300 ease-out text-2xl;
}
